body, html {
	margin: 0;
	padding: 0;
}

.sidebar {
	position: fixed;
	height: 768px;
	left: 0px;
	width: 375px;
	background-color: rgb(7,33,60);
	background-image: url("assets/sidebarbg.png");
	background-position: top right;
}

.eadslogo {
	position: fixed;
	left: 44.625px;
	top: 14px;
}

.title {
	font-family: 'Quicksand', sans-serif;
	color: rgb(209,209,209);
	margin-top: 90px;
	margin-left: 12px;
}

.button1 {
	border-radius: 50%;
}